body {
    font-family: Arial, Helvetica, sans-serif
}

.calculator {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2); */
}

.display {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 34px 0;
    background-color: white;
}

.display div {
    display: fixed;
    font-size: 28px;
    text-align: right;

    direction: ltr;
    overflow-wrap: break-word;
    width: 327px;
    max-width: 327px;
    padding: 0 24px;
    color: rgb(80, 80, 80);
}

.display .error {
    font-family: "monospace";
    color: red;
    font-size: 24px;
}

.keypad-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.keypad-container button {
    font-size: 16px;
    padding: 36px;
    margin: 4px;

    outline: none;
    background-color: white;
    cursor: pointer;

    color: rgb(80, 80, 80);

    border: 1px solid #e8e8e8;
    border-radius: 5px;

    transition: background .3s ease;

}

.keypad-container button:hover {
    background-color: #f2f2f2;
    /* box-shadow: 0 0px 20px rgba(154,160,185,.05), 0 0px 40px rgba(166,173,201,.2); */
}

.keypad-container .hidden {
    background-color: #f2f2f2;
    color: #cccccc;
}

#theme-button {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);

    outline: none;
    border: none;
    padding: 16px 20px;
    border-radius: 5px;
    background-color: white;
    color: #cccccc;

    cursor: pointer;

    transition: background .3s ease;
}

#theme-button:hover {
    background-color: #f2f2f2;
}

.dark-mode {
    background-color: #1a1a1a;
}

.dark-mode .display div {
    color: rgb(168, 168, 168);
}

.dark-mode .display {
    background-color: #1a1a1a;
}

.dark-mode .keypad-container button  {
    border: 1px solid #080808;
    background-color: #1a1a1a;
    color: rgb(168, 168, 168);
}

.dark-mode .keypad-container button:hover {
    background-color: #131313;
}

.dark-mode .keypad-container .hidden {
    background-color: #131313;
    color: #3f3f3f;
}

.dark-mode #theme-button {
    background-color: #1a1a1a;
    border: none;
    /* border: 1px solid #636363; */
    color: #636363;
}

.dark-mode #theme-button:hover {
    background-color: #0d0d0d;
}

.dark-mode .display .error {
    font-family: "monospace";
    color: red;
    font-size: 24px;
}